# Docker and Application Configuration
NODE_ENV=development
PORT=3000
NEXT_PUBLIC_API_URL=http://php/api

# Database Configuration
DB_HOST=db
DB_PORT=3306
DB_USER=website_user
DB_PASSWORD=website_password
DB_ROOT_PASSWORD=rootpassword
DB_NAME=personal_website
